{% extends 'eshop/base.html' %}

{% block title %}
    Orders List
{% endblock %}

{% block body %}
    {% if object_list %}
    <div>
        {% for order in object_list %}
        <div>
            <p>
                Ordered by {{ order.customer }}
            </p>
            <p> Delivery: {{ order.delivery_address }} </p>

        </div>
        {% endfor %}
    </div>
    {% else %}
        <h3> No orders </h3>
    {% endif %}
    <div>
        <a href="{% url 'eshop:store' %}">Back to product list</a>
    </div>
{% endblock %}