{% extends 'eshop/base.html' %}
{% load static %}
{% block title%}
    Products
{% endblock %}

{% block body %}
{% load static %}

        <div>
            {% for product in products %}
            <div>
                <p><a href="{% url 'eshop:products_details' pk=product.pk %}">Name {{ product.name }} </a></p>
                <p>Price: {{ product.price }}</p>
                <p>Description: {{product.description}}</p>
                {% if product.product_image %}
                    <img src="{{ product.product_image.url }}" alt="{{product.product_image.title}}">
                {% endif %}

            </div>
            {% endfor %}
        </div>
        <div>
            <a href="{% url 'eshop:order_create' %}">Create Order</a>
        </div>
{% endblock body %}
